Workflow.json
{
  "name": "Goodini News Autoposter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "news-autoposter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c828894-a289-4da9-9103-ba6b972446c0",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1020,
        40
      ],
      "webhookId": "20767a28-8f4b-4643-8025-e86d6b3de755"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "04e7dbf6-f597-4a98-8005-4fffea478ca4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1020,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\nconst sourceUrl = typeof body.url === 'string' ? body.url.trim() : '';\nreturn {\n  json: {\n    request_type: 'webhook',\n    source_id: body.id ? String(body.id) : $execution.id,\n    source_url: sourceUrl,\n    raw_input: body,\n    validation_error: sourceUrl ? '' : 'Missing required field: url',\n  },\n};"
      },
      "id": "acef3e22-e9c9-4184-8f05-a7b4513e611f",
      "name": "Normalize Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0418ccf1-b695-4a94-b5df-4ba9ff08fbe2-condition",
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0418ccf1-b695-4a94-b5df-4ba9ff08fbe2",
      "name": "Validate Webhook Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.validation_error }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "dda715bb-61f8-4685-b0dc-0b827892e22f",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -320,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RSS_FEED_URL }}"
      },
      "id": "6cd06824-9746-4ad9-8d39-e7ae7b10a184",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -780,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sourceUrl = typeof $json.link === 'string' ? $json.link.trim() : '';\nif (!sourceUrl) {\n  return [];\n}\nreturn {\n  json: {\n    request_type: 'rss',\n    source_id: String($json.guid ?? $json.isoDate ?? $json.link ?? `rss-${$itemIndex}`),\n    source_url: sourceUrl,\n    raw_input: $json,\n    validation_error: '',\n  },\n};"
      },
      "id": "8ebbfe8a-1c5e-476c-9d40-68f8bab5348d",
      "name": "Normalize RSS Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sourceId = String($json.source_id || 'item');\nconst safeId = sourceId\n  .toLowerCase()\n  .replace(/[^a-z0-9_-]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .slice(0, 40) || 'item';\nconst tempFilePath = `/tmp/news-autoposter/${$execution.id}-${safeId}.mp3`;\nconst tempFilePattern = `/tmp/news-autoposter/${$execution.id}-${safeId}.%(ext)s`;\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...$json,\n    temp_file_path: tempFilePath,\n    temp_file_pattern: tempFilePattern,\n    source_url_b64: encode($json.source_url || ''),\n    raw_input_b64: encode(JSON.stringify($json.raw_input ?? {})),\n  },\n};"
      },
      "id": "cb9a1b5d-5846-4a7d-a5eb-a6c333ad224f",
      "name": "Prepare Runtime Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        180
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python3 /opt/n8n-scripts/db_ops.py check-duplicate --source-url-b64 {{$json.source_url_b64}}"
      },
      "id": "c6e81aaf-06c6-4852-b699-cbeb4d9f05f3",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($json.stdout || '{}');\nreturn {\n  json: {\n    ...$('Prepare Runtime Data').item.json,\n    is_duplicate: Boolean(parsed.exists),\n  },\n};"
      },
      "id": "0e8e29de-86e6-45d0-8d95-f77eb5bd9190",
      "name": "Parse Duplicate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "249b95bf-077c-48e0-86ab-81a3ec4ad6fc-condition",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "249b95bf-077c-48e0-86ab-81a3ec4ad6fc",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "deebd716-c66b-4056-877c-9ab90884079b-condition",
              "leftValue": "={{ $json.request_type }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "deebd716-c66b-4056-877c-9ab90884079b",
      "name": "Is Webhook Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'duplicate', message: 'This URL has already been processed', source_url: $json.source_url }) }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "3e78918e-032f-4590-af38-1cee785568dd",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=/opt/n8n-scripts/download_audio.sh {{ JSON.stringify($json.source_url) }} {{ JSON.stringify($json.temp_file_path) }}"
      },
      "id": "5fde06df-b045-40c2-a656-75d6b264b5c5",
      "name": "Download Audio (yt-dlp)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Download Audio',\n    error_message: errorMessage,\n    error_response_code: 422,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Download Audio\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "01ea2399-d1d8-4f22-ad72-2498ac5a94c6",
      "name": "Format Download Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -120
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $('Prepare Runtime Data').item.json.temp_file_path }}"
      },
      "id": "81ba4bd6-d8f3-4bec-ae68-d6989230862e",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        860,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.OPENAI_TRANSCRIPTION_MODEL || 'whisper-1' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "e7082b66-94a7-406c-b977-15e08c2a7cbb",
      "name": "Transcribe 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "174365ac-3c4f-4854-bdae-6b1959e5682e",
      "name": "Wait 5s (Whisper)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ],
      "webhookId": "ad5b2e51-8af1-456c-9a99-17ea8059a15b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.OPENAI_TRANSCRIPTION_MODEL || 'whisper-1' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "bd13b588-08b0-4aee-8e0c-bb9595be8dba",
      "name": "Transcribe 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "e4028391-62b0-4682-839f-510f1a804c2c",
      "name": "Wait 15s (Whisper)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "webhookId": "29de600a-1310-475f-9f06-25fc54abfc7d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.OPENAI_TRANSCRIPTION_MODEL || 'whisper-1' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "74f83d09-ac1d-4079-9e6b-30a5a252b70e",
      "name": "Transcribe 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "bc2709ee-09e6-45f5-983a-d114944bf6c9",
      "name": "Wait 30s (Whisper)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1580,
        580
      ],
      "webhookId": "ab3e2927-7f40-4f32-8577-5192c5119fbb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.OPENAI_TRANSCRIPTION_MODEL || 'whisper-1' }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "414a399d-bc8f-4ba3-8ccd-c7b80da3632b",
      "name": "Transcribe 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        580
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const transcript = typeof $json.text === 'string' ? $json.text.trim() : '';\nif (!transcript) {\n  throw new Error('Whisper response did not include transcript text');\n}\nconst source = $('Prepare Runtime Data').item.json;\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    transcript,\n    transcript_b64: encode(transcript),\n    llm_prompt: [\n      'Transform the Russian transcript below into a Telegram news post.',\n      'Return JSON only with keys: title, summary, hashtags.',\n      'Rules:',\n      '- title: concise, factual, max 120 characters',\n      '- summary: 2 to 4 short sentences in Russian',\n      '- hashtags: array with 3 to 6 hashtags',\n      '- do not invent facts',\n      '- no markdown, no HTML, no extra keys',\n      '',\n      `Source URL: ${source.source_url}`,\n      '',\n      'Transcript:',\n      transcript,\n    ].join('\\n'),\n  },\n};"
      },
      "id": "6c692534-0c4d-4976-8852-3e0e15337c41",
      "name": "Normalize Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENAI_CHAT_MODEL || 'gpt-4o-mini', temperature: 0.7, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a Russian news editor that writes concise Telegram posts and always responds with valid JSON only.' }, { role: 'user', content: $json.llm_prompt }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "6e221b0d-e7cb-4b2c-a57e-63a2d6d4728e",
      "name": "Generate Post 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "e3046b0d-a578-4c7e-a77d-3d9e7e7390a6",
      "name": "Wait 5s (Generate)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2300,
        440
      ],
      "webhookId": "11111111-1111-4111-8111-111111111111"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENAI_CHAT_MODEL || 'gpt-4o-mini', temperature: 0.7, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a Russian news editor that writes concise Telegram posts and always responds with valid JSON only.' }, { role: 'user', content: $json.llm_prompt }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "5dbadc0e-4668-4496-b103-a38b83cffa49",
      "name": "Generate Post 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        440
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "c2ae2019-c6ea-488b-8c4b-3e6504973935",
      "name": "Wait 15s (Generate)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2540,
        620
      ],
      "webhookId": "22222222-2222-4222-8222-222222222222"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENAI_CHAT_MODEL || 'gpt-4o-mini', temperature: 0.7, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a Russian news editor that writes concise Telegram posts and always responds with valid JSON only.' }, { role: 'user', content: $json.llm_prompt }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "41159964-99f0-4a71-bf8c-06129055ba4c",
      "name": "Generate Post 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        620
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "b81bde14-0064-4aae-898c-dc80baaa1c6c",
      "name": "Wait 30s (Generate)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2780,
        800
      ],
      "webhookId": "33333333-3333-4333-8333-333333333333"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENAI_CHAT_MODEL || 'gpt-4o-mini', temperature: 0.7, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a Russian news editor that writes concise Telegram posts and always responds with valid JSON only.' }, { role: 'user', content: $json.llm_prompt }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "52e2a893-89c5-4fce-a3ac-b8ce88d24e73",
      "name": "Generate Post 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        800
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Normalize Transcript').item.json;\nconst content = $json.choices?.[0]?.message?.content;\nif (!content) {\n  throw new Error('OpenAI response missing message content');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  throw new Error(`OpenAI response was not valid JSON: ${content}`);\n}\nconst title = String(parsed.title || '').trim();\nconst summary = String(parsed.summary || '').trim();\nlet hashtags = Array.isArray(parsed.hashtags) ? parsed.hashtags : [];\nhashtags = hashtags\n  .map((tag) => String(tag).trim())\n  .filter(Boolean)\n  .map((tag) => (tag.startsWith('#') ? tag : `#${tag.replace(/^#+/, '')}`));\nif (!title || !summary || hashtags.length === 0) {\n  throw new Error('Generated content missing title, summary, or hashtags');\n}\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst telegramMessageHtml = `<b>${escapeHtml(title)}</b>\\n\\n${escapeHtml(summary)}\\n\\n${escapeHtml(hashtags.join(' '))}\\n\\n<a href=\"${source.source_url}\">Источник</a>`;\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    generated_title: title,\n    generated_summary: summary,\n    generated_hashtags: hashtags,\n    telegram_message_html: telegramMessageHtml,\n    post_text_b64: encode(telegramMessageHtml),\n  },\n};"
      },
      "id": "80ebca6b-4b3f-445e-aad2-efa097b35f3a",
      "name": "Normalize Generated Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python3 /opt/n8n-scripts/db_ops.py insert-post --source-url-b64 {{$json.source_url_b64}} --transcript-b64 {{$json.transcript_b64}} --post-text-b64 {{$json.post_text_b64}} --status draft"
      },
      "id": "36e30221-daab-4bf1-92d5-3fadd57c3a03",
      "name": "Save Draft Post",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3500,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($json.stdout || '{}');\nreturn {\n  json: {\n    ...$('Normalize Generated Post').item.json,\n    post_id: parsed.id,\n    post_status: parsed.status,\n  },\n};"
      },
      "id": "95c0ad09-d4c5-4b1b-b3cf-46f293494249",
      "name": "Parse Saved Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.telegram_message_html, parse_mode: 'HTML', disable_web_page_preview: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "bf82d5db-5c90-44d6-9c97-30da6e6cbacf",
      "name": "Send to Telegram 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "7a54f9a0-0385-47ce-a1dd-230f43c993e1",
      "name": "Wait 5s (Telegram)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3980,
        700
      ],
      "webhookId": "44444444-4444-4444-8444-444444444444"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.telegram_message_html, parse_mode: 'HTML', disable_web_page_preview: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3a7eaa3e-063a-4b98-9188-cc5e9d58b94d",
      "name": "Send to Telegram 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        700
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python3 /opt/n8n-scripts/db_ops.py update-post-status --post-id {{ JSON.stringify($('Parse Saved Draft').item.json.post_id) }} --status published"
      },
      "id": "3b3bb756-364c-41ef-94f8-676af609bc87",
      "name": "Mark Published",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4460,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst saved = $('Parse Saved Draft').item.json;\nreturn {\n  json: {\n    ...source,\n    post_id: saved.post_id,\n    status: 'published',\n    telegram_message_html: $('Normalize Generated Post').item.json.telegram_message_html,\n  },\n};"
      },
      "id": "4f96dede-88ee-4800-8638-0a33c0441384",
      "name": "Prepare Success Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        520
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=rm -f {{ JSON.stringify($json.temp_file_path) }}"
      },
      "id": "b7126659-ccec-4b38-a87b-64841dac5450",
      "name": "Cleanup Temp File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4940,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fecbb1a7-cd68-42e7-b8ad-4b3087640f1b-condition",
              "leftValue": "={{ $json.request_type }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fecbb1a7-cd68-42e7-b8ad-4b3087640f1b",
      "name": "Respond Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4940,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'success', post_id: $json.post_id, source_url: $json.source_url, message: 'Post generated, stored, and sent to Telegram' }) }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "ddbc0d42-2a6d-4af2-8c38-df9f08325786",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5180,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Transcribe (Whisper)',\n    error_message: errorMessage,\n    error_response_code: 502,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Transcribe (Whisper)\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "9ebdf4aa-164e-444a-9283-0a9b08eddb2f",
      "name": "Format Transcript Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        60
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Generate Post',\n    error_message: errorMessage,\n    error_response_code: 502,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Generate Post\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "9ce60111-9944-4d0d-baf5-90907eb06ccc",
      "name": "Format Generation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        980
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Database Write',\n    error_message: errorMessage,\n    error_response_code: 500,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Database Write\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "d6a98fc5-2b43-492e-b8e6-d131d1ab9012",
      "name": "Format Database Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4460,
        920
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Telegram Delivery',\n    error_message: errorMessage,\n    error_response_code: 502,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Telegram Delivery\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "5a1c7e30-99c2-42c4-8ecc-8f7a3c661b0b",
      "name": "Format Telegram Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4460,
        760
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python3 /opt/n8n-scripts/db_ops.py log-error --node-name {{ JSON.stringify($json.error_stage) }} --error-message-b64 {{$json.error_message_b64}} --input-data-b64 {{$json.error_input_data_b64}}"
      },
      "id": "f3ff4540-82de-4af1-84e4-7ac33b4b61ae",
      "name": "Log Error",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4700,
        980
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.error_alert_html, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f7ac18df-1629-432b-a2fb-9e822448f8a7",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4700,
        840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=rm -f {{ JSON.stringify($json.temp_file_path) }}"
      },
      "id": "24768025-0d52-47c7-b5b4-d492a6920cc3",
      "name": "Cleanup Temp File (Error)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4700,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12524a8e-417e-4535-a029-d8506c0da4af-condition",
              "leftValue": "={{ $json.request_type }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12524a8e-417e-4535-a029-d8506c0da4af",
      "name": "Respond Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4700,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', stage: $json.error_stage, message: $json.error_message, source_url: $json.source_url }) }}",
        "options": {
          "responseCode": "={{ $json.error_response_code }}"
        }
      },
      "id": "178d65dc-7774-4fcb-b87a-fca9d7c8e875",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4940,
        500
      ]
    },
    {
      "parameters": {},
      "id": "a32df7db-ae0b-4c4c-9309-d1226903b241",
      "name": "Finish Background Path",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5180,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Main Flow\\n\\nWebhook and Schedule/RSS both normalize into one shared pipeline.\\n\\nThe processing order is: dedupe -> download -> transcription -> AI post generation -> draft save -> Telegram -> publish status update.\\n\\nThe workflow is intentionally portable: OpenAI and Telegram use env vars, while DB operations and yt-dlp are handled through mounted helper scripts inside the n8n container.",
        "height": 320,
        "width": 420,
        "color": 6
      },
      "id": "b674ece0-0db5-41ac-b18d-f2dc75fca414",
      "name": "Sticky Note Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        -340
      ]
    },
    {
      "parameters": {
        "content": "## Retries and Reliability\\n\\nWhisper and OpenAI generation use explicit retry branches with waits of 5s, 15s, and 30s.\\n\\nTelegram delivery retries once after 5s.\\n\\nEvery failure is normalized, logged to `error_logs`, sent to Telegram as an alert, and triggers temp-file cleanup in `/tmp/news-autoposter`.",
        "height": 300,
        "width": 420,
        "color": 5
      },
      "id": "896f4447-a514-482a-90cd-bf92c024f2e5",
      "name": "Sticky Note Retry",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1880,
        -340
      ]
    },
    {
      "parameters": {
        "content": "## Bonus Tasks\\n\\nDeduplication happens before any expensive work and returns `409` for webhook requests.\\n\\nThe `Schedule Trigger` + `RSS Read` path polls the configured RSS feed and reuses the same processing pipeline as the webhook path.\\n\\nBackground RSS executions do not emit webhook responses, they simply finish after success, duplicate skip, or error handling.",
        "height": 300,
        "width": 420,
        "color": 4
      },
      "id": "ff292cc5-7fd7-4b4a-ac35-d998b00067eb",
      "name": "Sticky Note Bonus",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Prepare Runtime Data').item.json;\nconst rawError = $json.error ?? $json.stderr ?? $json.message ?? 'Unknown error';\nconst errorMessage = typeof rawError === 'string' ? rawError : JSON.stringify(rawError);\nconst escapeHtml = (value) => String(value ?? '').replace(/[&<>\"]/g, (char) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\"': '&quot;',\n}[char]));\nconst encode = (value) => Buffer.from(String(value ?? ''), 'utf8').toString('base64');\nreturn {\n  json: {\n    ...source,\n    error_stage: 'Duplicate Check',\n    error_message: errorMessage,\n    error_response_code: 500,\n    error_message_b64: encode(errorMessage),\n    error_input_data_b64: encode(JSON.stringify({\n      source_url: source.source_url,\n      source_id: source.source_id,\n      request_type: source.request_type,\n      raw_input: source.raw_input,\n    })),\n    error_alert_html: `<b>Workflow error</b>\\n<b>Stage:</b> Duplicate Check\\n<b>URL:</b> ${escapeHtml(source.source_url)}\\n<b>Message:</b> ${escapeHtml(errorMessage)}`,\n  }\n};"
      },
      "id": "4d3c3efe-c0e7-4d48-8b7c-0928f34afab9",
      "name": "Format Duplicate Check Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Input": {
      "main": [
        [
          {
            "node": "Validate Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Input": {
      "main": [
        [
          {
            "node": "Prepare Runtime Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Normalize RSS Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Item": {
      "main": [
        [
          {
            "node": "Prepare Runtime Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Runtime Data": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Parse Duplicate Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Duplicate Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Duplicate Result": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Is Webhook Duplicate?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio (yt-dlp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Webhook Duplicate?": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish Background Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio (yt-dlp)": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Download Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Transcribe 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Download Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe 1": {
      "main": [
        [
          {
            "node": "Normalize Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe 2": {
      "main": [
        [
          {
            "node": "Normalize Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe 3": {
      "main": [
        [
          {
            "node": "Normalize Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe 4": {
      "main": [
        [
          {
            "node": "Normalize Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Transcript Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Transcript": {
      "main": [
        [
          {
            "node": "Generate Post 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Transcript Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post 1": {
      "main": [
        [
          {
            "node": "Normalize Generated Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Generate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post 2": {
      "main": [
        [
          {
            "node": "Normalize Generated Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s (Generate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post 3": {
      "main": [
        [
          {
            "node": "Normalize Generated Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s (Generate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post 4": {
      "main": [
        [
          {
            "node": "Normalize Generated Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Generation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Generated Post": {
      "main": [
        [
          {
            "node": "Save Draft Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Generation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft Post": {
      "main": [
        [
          {
            "node": "Parse Saved Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Saved Draft": {
      "main": [
        [
          {
            "node": "Send to Telegram 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram 1": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram 2": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published": {
      "main": [
        [
          {
            "node": "Prepare Success Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Result": {
      "main": [
        [
          {
            "node": "Respond Success?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Success?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish Background Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Duplicate Check Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Download Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Generation Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Database Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cleanup Temp File (Error)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Error?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish Background Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Whisper)": {
      "main": [
        [
          {
            "node": "Transcribe 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s (Whisper)": {
      "main": [
        [
          {
            "node": "Transcribe 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (Whisper)": {
      "main": [
        [
          {
            "node": "Transcribe 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Generate)": {
      "main": [
        [
          {
            "node": "Generate Post 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s (Generate)": {
      "main": [
        [
          {
            "node": "Generate Post 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (Generate)": {
      "main": [
        [
          {
            "node": "Generate Post 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Telegram)": {
      "main": [
        [
          {
            "node": "Send to Telegram 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9da2d2be-0dea-45d5-bfb7-18ea0c79c833",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "goodiniNewsAutoposter",
  "tags": [
    {
      "name": "тестовое-задание",
      "id": "n0Y74dIZYwwvIEcr"
    }
  ]
}
